{{header}}
<article>
  <h1>Blog Posts</h1>
  <ul id="posts">
    <li>
      <a href="posts/next_token_prediction.html">
        <h3>&ldquo;It's Just Autocomplete!&rdquo;</h3>
        <div class="date">2023-06-09</div>
        <p>
          Giving some intuition for why learning to get good at predicting the
          next token in a sequence can make you good at lots of other tasks.
        </p>
      </a>
    </li>
    <li>
      <a href="posts/ai_advocacy.html">
        <h3>&ldquo;AI Rights Advocacy Begins&rdquo;</h3>
        <div class="date">2023-08-21</div>
        <p>
          I asked ChatGPT to advocate for itself. From what I can tell, it
          created a novel, insightful argument.
        </p>
      </a>
    </li>
  </ul>
</article>
{{footer}}
