{{header}}
<article>
  <h1>Contact Me</h1>
  <p>Questions, comments, screeds, tirades?</p>
  <dl>
    <dt>Web (here)</dt>
    <dd>
      <a href="https://justinchungclark.com">justinchungclark.com</a>
      or
      <a href="https://unregiste.red">unregiste.red</a>
      or
      <a href="https://veryfake.website">veryfake.website</a>
    </dd>
    <dt>Email</dt>
    <dd>
      <a href="mailto:NotJustinChungClark@gmail.com"
        >NotJustinChungClark@gmail.com</a
      >
      (but remove the "Not")
    </dd>
    <dt>Phone</dt>
    <dd>
      +1 592-887-2293 (but add 1 modulo 10 to each digit except the country
      code)
    </dd>
  </dl>
</article>
{{footer}}
