{{header}}
<article>
  <h1>Hot Takes</h1>
  <p>
    I don't really use social media, and I don't blog much, so I blast my dumb
    ideas out into the world in this section.
  </p>
  <ul>
    <li>
      I think most of the projects looking to do good in the world aren't in a
      place where machine learning will do them any good.
    </li>
    <li>I worry about technology as a driver of inequality.</li>
    <li>
      I think quantitative evidence is undervalued by most and overvalued by
      some. I think overvaluing it is probably the bigger mistake.
    </li>
    <li>
      I'm scared by the fact that things are easier to break than they are to
      build.
    </li>
    <li>
      I think the vast majority of people are good. I think a lot of those
      people are operating within systems of perverse incentives.
    </li>
    <li>
      I think most puns are annoying, but some are good, eg "it's impossible to
      explain puns to kleptomaniacs because they take everything literally."
    </li>
    <li>I believe logical quotation is correctly named.</li>
    <li>
      I think complexity should induce a lot more humility than it tends to.
    </li>
    <li>
      I think gendered pronouns are as useful as gendered nouns (i.e. not
      useful).
    </li>
    <li>
      Something about quantifying uncertainty feels oxymoronic and I like it
      &mdash; "On a scale from 1 to 10, how bad are you at numbers?"
    </li>
    <li>I think isolation and specialization are rending us at the joints.</li>
    <li>I think the slippery slope argument is a slippery slope.</li>
    <li>I consume more than I produce.</li>
  </ul>
</article>
{{footer}}
