{{header}}
<article>
  <h1>About</h1>
  <figure id="portrait">
    <img
      src="images/pasted image 0.png"
      alt="Photograph of Justin Chung Clark"
    />
    <figcaption>What I looked like one day recently</figcaption>
  </figure>
  <p>
    I'm a fellow human being trying to figure things out. (I like to read this
    as the implicit first line of everyone's bio.) I'm a tech generalist. I'm a
    dad. I'm a spouse. I'm a driver. I'm a winner. Things are gonna change, I
    can
    <a href="https://youtu.be/YgSPaXgAdzE?t=173" target="_blank">feel it</a>. I
    know a little about a lot, but a lot about very little.
  </p>
  <p>
    I like to work on things that I think have a real chance of being beneficial
    to society. I'm not interested in technosolutionism, but I am interested in
    tech-as-part-of-the-solutionism. I have a lot of different skills I've
    picked up over the years, but the ones I emjoy using the most are building
    and trying to interpret ML models, visualization, and software engineering.
    With that said, I don't enjoy sitting in front of the computer all day and I
    deeply wish there were other (practical) ways of engaging with these
    technologies.
  </p>
  <p>This website is new for me, so it's fairly sparse at the moment.</p>
</article>
{{footer}}
